<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head th:fragment="head">
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" type="text/css"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css">
<link rel="stylesheet" th:href="@{../css/style.css}">
</head>
<body>
	<header th:fragment="header">
		<nav class="navbar navbar-dark navbar-expand-lg bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Navbar</a>
				<button class="navbar-toggler" type="button"
					data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto mb-2 mb-lg-0">
						<li class="nav-item"><a class="nav-link active"
							aria-current="page" href="#">Home</a></li>
						<li class="nav-item"><a class="nav-link"
							th:href="@{./listar}">Clientes</a></li>
						<li class="nav-item"><a class="nav-link" th:href="@{./form}">Nuevo
								Cliente</a></li>
				</div>
			</div>
		</nav>
	<div class="container">
	<h1 th:text="${titulo}"></h1>
	<div class="alert alert-success" th:if="${success != null}" th:text="${success}" ></div>
	<div class="alert alert-danger" th:if="${error != null}" th:text="${error}" ></div>
	<div class="alert alert-warning" th:if="${warning != null}" th:text="${warning}" ></div>
	</div>
	</header>
	<footer th:fragment="footer">
		<script
			src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
			integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
			integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
			crossorigin="anonymous"></script>
	</footer>
</body>
</html>