<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<h1 th:text="${titulo}"></h1>
	<table>
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Email</th>
			<th>Fecha</th>
		</tr>
		<tr th:each="cliente : ${clientes}">
			<td th:text="${cliente.id}"></td>
			<td th:text="${cliente.nombre}"></td>
			<td th:text="${cliente.apellido}"></td>
			<td th:text="${cliente.email}"></td>
			<td th:text="${cliente.createAt}"></td>

		</tr>

	</table>

</body>
</html>