<!DOCTYPE html>
<html xmls:th="http://www.thymeleaf.org">
<head th:replace= "layout/layout::head"></head>
<body> 
<header th:replace= "layout/layout ::header"></header>
	
	
	<div class="container">

	<table class="table">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Apellido</th>
			<th>Email</th>
			<th>Fecha</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
		<tr th:each="cliente : ${clientes}">
			<td th:text="${cliente.id}"></td>
			<td th:text="${cliente.nombre}"></td>
			<td th:text="${cliente.apellido}"></td>
			<td th:text="${cliente.email}"></td>
			<td th:text="${cliente.createAt}"></td>
			<td><a class="btn btn-primary" th:href="@{./form/} + ${cliente.id}">Editar</a></td>
			<td><a class="btn btn-danger" th:href="@{./form/eliminar/} + ${cliente.id}">Eliminar</a></td>
			

		</tr>

	</table>
<nav th:replace= "layout/paginador ::paginador"></nav>
</div>

<footer th:replace= "layout/layout ::footer"></footer>
</body>
</html>